.name {
    margin-left: 2em;
    font-size: larger;
    color: black;
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    transform: translateY(3px);
    transition-duration: .6s;
}

.nav-item-hidden {
    opacity: 0%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-right: 20px;
}

.nav-item:hover {
    transform: translateY(-3px);
    transition-duration: .6s;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
}